:root {
  --main-font: "Roboto", sans-serif;
  --secondary-fond: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --footer-order-color: #212121;
  --explination-team-progects-backgroundbutton-color: #757575;
  --footertext-header-color: #ffffff;
  --order-caption-color: #2f303a;
  --background-team-color: #f5f4fa;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}
body {
  font-family: var(--main-font);
}
.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.link {
  text-decoration: none;
}
.address {
  font-style: normal;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/*header*/
.header .container {
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 24px;
  padding-left: 0;
  padding-right: 0;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
  align-items: center;
  margin-left: 93px;
}
.address {
  display: flex;
  align-items: center;
}
.header .address {
  margin-left: auto;
}
.address-link:not(:last-child) {
  margin-right: 50px;
}
.logo .navigation-list-link {
  display: flex;
}
.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}
.logo-studio-up {
  color: var(--footer-order-color);
}
.logo {
  font-family: var(--secondary-fond);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;

  color: var(--footer-order-color);
}
.header-mail-link,
.header-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--explination-team-progects-backgroundbutton-color);
}
.navigation-list-link.current,
.navigation-list-link:hover,
.navigation-list-link:focus,
.header-mail-link:hover,
.header-mail-link:focus,
.header-tel-link:hover,
.header-tel-link:focus,
.address-link-map:hover,
.address-link-map:focus,
.address-link-mail:hover,
.address-link-mail:focus,
.address-link-tel:hover,
.header-link-tel:focus {
  color: var(--accent-color);
}
/*Main-coneiner*/
/*main order-captions*/
.order-caption {
  background: var(--order-caption-color);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.order-title-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--footertext-header-color);
  margin-bottom: 30px;
  align-content: center;
}

.button-order {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  color: var(--footertext-header-color);
  border-radius: 4px;
  padding-top: 10px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 10px;
}
/*sectoio-feutures*/
.feature-list-item {
  display: flex;
  flex-wrap: wrap;
  margin-top: 94px;
}
.feature-list .container {
  width: 1170px;
  height: 101px;
}
.feature-list-desc {
  width: 270px;
  height: 101px;
}
.feature-list-desc:not(:last-child) {
  margin-right: 30px;
}
.feature-list-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-order-color);
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 6px;
}
.feature-list-lead {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--explination-team-progects-backgroundbutton-color);
}
/*what we do*/
.work-img {
  margin-top: 63px;
}
.work-img-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--footer-order-color);
  padding-top: 9px;
  padding-bottom: 9px;
  margin-bottom: 50px;
}
.work-img-list {
  display: flex;
}
.work-img-item:not(:last-child) {
  padding-right: 30px;
}

/*section-team*/
.team-section {
  margin-top: 94px;
  background: var(--background-team-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--footer-order-color);
}
.team-list {
  display: flex;
  margin-top: 30px;
  padding: 0 0;
}
.team-list-content {
  justify-content: center;
  padding-bottom: 30px;
  background: var(--footertext-header-color);
}
.team-list-content:not(:last-child) {
  margin-right: 30px;
}

.team-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--footer-order-color);
  text-align: center;
  margin-top: 30px;
}
.team-list-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--explination-team-progects-backgroundbutton-color);
  text-align: center;
}
.logo-studio-down {
  color: var(--footertext-header-color);
}

/*FOOTER*/
.footer {
  background: var(--order-caption-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.address-link-f {
  margin-top: 20px;
  justify-content: flex-start;
  flex-direction: column;
}

.address-link-map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footertext-header-color);
}
.address-link-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-link-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/*Section-filters*/
.main-portfolio {
  margin-top: 94px;
  margin-bottom: 94px;
}
.button-list-item {
  display: flex;
  align-items: center;
  margin-left: 295px;
}

.button-portfolio:not(:last-child) {
  margin-right: 8px;
}

.button-list-info {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--footer-order-color);
  background: var(--background-team-color);
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-top: 6px;
  border-radius: 4px;
}
.button-list-info:focus,
.button-list-info:hover {
  color: var(--footertext-header-color);
  background: var(--accent-color);
} /*section progects*/
.progect-link-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--footer-order-color);
}
.progect-link-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--explination-team-progects-backgroundbutton-color);
}

.progect-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 34px;
}
.progect-list-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid#EEEEEE;
}
.progect-list-item:nth-child(3n) {
  margin-right: 0px;
}
.progect-list-item:nth-child(n + 7) {
  margin-bottom: 0px;
}
.progect-link-title {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 20px;
  margin-bottom: 4px;
}
.progect-link-text {
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 20px;
}
/*header-portfolio*/
.porfolio-h {
  border-bottom: 1px solid #ececec;
}
